*{
    margin:0;
    padding:0;
    font-family: 'Shadows Into Light', cursive;
    list-style-type: none ;
}
body{
    height:100vh;
    background-image: url(/img/Jun031.svg);
}
header{
    height: 7%;
    background-color: blanchedalmond;
    align-content: center;
}
.ul{
    display: flex;
    justify-content: space-evenly;
}
.ul li a{
    text-decoration: none;
    
}
.w{
    
    border: blueviolet solid 2px;
    border-radius:5px;
    background-color: aqua; 
    color: black; 
}
.button-der{
    position: relative;
    
}
.dropdown-child{
    display:none;
}
.dropdown-child a{
    display:block;
}
.dropDown:hover .dropdown-child{
    display:block;
}
.none{
    display: none;
}
main{
    height:86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border:solid black 1px;
    border-spacing:0px;
    background-color: chartreuse;
}
td, th{
    border: solid black 1px;
    padding: 10px;
    text-align:center;
}
th{
    background-color: cornflowerblue;
}
h1,p,footer{
    color:white;
    background-color: black;
}
form{
    border: blueviolet solid 2px;
    border-radius:30px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
}
.formul,.nav{
    padding-top: 5px;
}
footer{
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}