* {
    /* background-color:lightcyan; */
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
}
body{
    height: 100vh;
    /* background-image:url(/img/Jun031.svg); */
    /* background: no-repeat; */
    background-size: cover;
    opacity: 0.65;
}
header {
    height: 100px;
    width: 100%;
    
}
nav{
    width: 100%;
}
nav ul {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width:100%; */
}
nav li {
    display: flex;
    background-color: aqua;
}
.w{
    list-style-type: none;
    border:blueviolet solid 2px;
    border-radius: 5px;
    padding:5px;
    text-decoration: none;
}

nav a{
    width: 120px;
    text-align: center;
}

a{
    text-decoration: none;
    color:black;
}


main{
    display:flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
    min-height: 600px;
}
table{
    border:solid black 1px;
    border-spacing:0px;
    background-color: chartreuse;
}
td, th{
    border: solid black 1px;
    padding: 10px;
    text-align:center;
}
th{
    background-color: cornflowerblue;
}
h1{
    color:white;
    background-color: black;
}

form{       
    justify-content: center;
    padding: 2%;
    height: 22%;
    background-color: aqua;
    border: blue solid 2px;
    border-radius:30px;
    opacity:1;
}
label{
    background-color: aqua;
}
input{
    margin-bottom:10px;
}

.nav{
    background-color: aqua;
}

.form{
    min-height: 205px; 
}


.connec{
    min-height: 140px;
    display: flex;
    flex-direction: column;
}
/* .dropDown{
    position:relative;
    display:inline-block;   
} */
.button-der{
    border:blueviolet solid 2px;
    border-radius: 5px;
    padding:5px;
    width: 120px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    position:relative;
    display:inline-block;   
}
.dropdown-child{
    display: none;
    position: absolute;
}
.dropdown-child a{
    display:block;
}
.dropDown:hover .dropdown-child{
    display:block;
    
}
.dropdown-child .button-der{
    width:200px;
}










footer{
    display: flex;
    justify-content: center;
    color:white;
    background-color: black;
}

